*{
	padding: 0;
	margin:0;
	text-decoration: none;
	list-style: none;
}
body{
	font-family: calibri;
}
nav{
	height: 80px;
	width: 100%;
	background:#12404D;
}
label.logo{
	font-size: 35px;
	font-weight: bold;
	color: white;	
	padding: 0 100px;
	line-height: 80px;
}
nav ul{
	float: right;
	margin-right: 40px;
}	
nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
nav a{
	color:white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}

a.active,a:hover{
	border:1px solid white;
	transition: .5s;
}

nav #icon{
	color:white;
	font-size: 30px;
	line-height: 80px;
	margin-right: 40px;
	float:right;
	margin-right: 40px;
	cursor: pointer;
}

@media (max-width: 1048px){
	label.logo{
		font-size: 32px;
		padding-left: 20px;
	}
	nav ul{
		margin-right: 20px;
	}
	nav a{
		font-size: 17px;
	}
}

@media (max-width: 909px){
	nav #icon{
		display: block;

	}
	nav ul{
		position: fixed;
		width: 100px;
		height: 100vh;
		background:#2f3640;
		top:80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav a{
		font-size: 20px;
	}
	a.active,a:hover{
		border:none;
		color:#3498db;

	}
	nav ul.show{
		left:0;
	}
}

div.title-2{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	margin-top:30px;
	
}
.container-1{
	
	width: 90%;
	max-width: 900px;
	margin: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.tabla{
	
	width: 33%;
	height: 400px;
	margin: auto;
	border:1px solid #343759;
	border-radius: 4px;
	box-shadow: 0px 0px 4px 0px #343759;
	padding: 60px;
	text-align: center;
	flex-grow: 1;	
	color: #343759;
}

.tabla>h2{

	font-size: 30px;
	margin-bottom: 35px;
}
.tabla img{
	width: 64px;
	margin-bottom:35px;
}
.tabla>h3{
	font-size: 30px;
	margin-bottom: 20px;
}
.tabla >p{
	display: block;
	margin-bottom: 20px;
}

.boton{
	display: inline-block;
	width: 150px;
	padding: 12px;
	background: #a5f059;
	text-decoration: none;
	color: #343759;
	border-radius: 100px;
	text-align: center;
	font-size: 14;
	font-weight: 600;
	margin: auto;
}

.tabla:hover{
	background: #343759;
	color: #f1f1f2;
	transition: 0.5s all;
	transform: scale(1.1);
	cursor: pointer;
}
































